:root {
  /* Layout */
  --mobile-screen: 375px;
  --desktop-screen: 1440px;

  /* Fonts */
  --barlow-font: "Barlow", sans-serif;
  --fraunces-font: "Fraunces", serif;
  --font-size: 1.8rem;
  --semi-weight: 600;
  --bold-weight: 700;
  --black-weight: 900;
  --line-height: 2.8rem;

  /* Colors */
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  /* graphic design text */
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  /* photography text */
  --dark-blue: hsl(198, 62%, 26%);
  /* footer */
  --dark-moderate-cyan: hsl(168, 34%, 41%);
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 10px;
}

html {
  /* scroll-behavior: smooth; */
}

ul {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

body {
  font-family: var(--barlow-font);
  font-size: var(--font-size);
  font-weight: var(--semi-weight);
  background-color: var(--white);
  color: var(--dark-grayish-blue);
  margin: auto;
  max-width: 1440px;
}

/* Header */
header {
  padding: 40rem 0rem;
  background-color: skyblue;
  background-image: url("./images/desktop/image-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 75%;
  position: relative;
}

nav > .hamburger {
  cursor: pointer;
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  position: absolute;
  top: 5%;
  width: 100%;
}

nav .logo {
  transform: scale(1.2);
}

nav > ul {
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 5rem;
}

nav ul a li {
  font-size: 1.8rem;
}

nav .contact {
  background-color: var(--white);
  border-radius: 4rem;
  color: var(--very-dark-desaturated-blue);
  font-family: var(--fraunces-font);
  font-size: 1.6rem;
  padding: 1.8rem 2.8rem;
  text-align: center;
  text-transform: uppercase;
}
nav .contact:hover {
  background-color: skyblue;
  color: var(--white);
}

header h1 {
  color: var(--white);
  font-size: 5rem;
  font-family: var(--fraunces-font);
  font-weight: var(--black-weight);
  letter-spacing: 0.7rem;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.arrow-down img {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
  width: 3.4rem;
}

/* Grid */
section.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 55rem;
  justify-items: center;
  align-items: center;
}

.transform,
.stand-out {
  width: 65%;
}

.transform > h2,
.stand-out > h2 {
  color: var(--very-dark-desaturated-blue);
  font-family: var(--fraunces-font);
  font-size: 4rem;
  font-weight: var(--black-weight);
}

.transform > p,
.stand-out > p {
  font-size: var(--font-size);
  line-height: var(--line-height);
  margin: 2.4rem 0;
}

.transform-image-container {
  background-image: url("./images/desktop/image-transform.jpg");
}
.stand-out-image-container {
  background-image: url("./images/desktop/image-stand-out.jpg");
}

.transform-image-container,
.stand-out-image-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.grid .learn-wrapper {
  display: inline-block;
  padding: 0 0.8rem;
  position: relative;
}

.grid .learn {
  color: var(--very-dark-desaturated-blue);
  font-family: var(--fraunces-font);
  font-size: 1.6rem;
  font-weight: var(--black-weight);
  text-transform: uppercase;
}

.grid .learn::before {
  content: "";
  border-radius: 1rem;
  height: 0.6rem;
  width: 100%;
  position: absolute;
  bottom: -1px;
  left: 0;
  z-index: -1;
}

.transform .learn::before {
  background-color: yellow;
}
.transform .learn:hover::before {
  background-color: var(--yellow);
}

.stand-out .learn::before {
  background-color: pink;
}
.stand-out .learn:hover::before {
  background-color: var(--soft-red);
}

/* Services */
.graphic-design-container {
  color: var(--dark-desaturated-cyan);
  background-image: url("./images/desktop/image-graphic-design.jpg");
}
.photography-container {
  color: var(--dark-blue);
  background-image: url("./images/desktop/image-photography.jpg");
}

.graphic-design-container,
.photography-container {
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  text-align: center;
}

.graphic-design-container > div,
.photography-container > div {
  height: 100%;
}

.graphic-design,
.photography {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 55%;
}

.graphic-design h3,
.photography h3 {
  font-family: var(--fraunces-font);
  font-size: 3rem;
  font-weight: var(--black-weight);
  text-transform: capitalize;
}

.graphic-design p,
.photography p {
  font-size: var(--font-size);
  line-height: var(--line-height);
  margin-top: 2rem;
}

/* Testimonials */
.testimonials {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70rem;
  text-align: center;
}

.testimonials .testimonials-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 4fr;
  width: 80%;
}

.testimonials .testimonials-title {
  color: var(--grayish-blue);
  font-family: var(--fraunces-font);
  font-size: 2rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  margin-bottom: 4rem;
  width: 100%;
}

.testimonials .client-container {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(3, 1fr);
}

.testimonials .client {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials .client > img {
  border-radius: 50%;
  width: 7.4rem;
}

.testimonials .client-testimonial {
  color: var(--dark-grayish-blue);
  display: flex;
  align-items: center;
  flex-grow: 1;
  font-size: var(--font-size);
  line-height: var(--line-height);
  margin: 5rem 0;
}

.testimonials .client-name {
  color: var(--very-dark-desaturated-blue);
  font-family: var(--fraunces-font);
  font-size: 1.9rem;
  font-weight: var(--black-weight);
}

.testimonials .client-role {
  font-size: 1.6rem;
  color: var(--grayish-blue);
}

/* Footer */

/* --- --- --- --- --- --- --- --- --- */

/* Mobile @1024px */
@media screen and (max-width: 1024px) {
  /* Header @1024px */

  /* Grid @1024px */
  .transform,
  .stand-out {
    width: 90%;
  }

  .transform h2,
  .stand-out h2 {
    font-size: 3rem;
  }

  .grid .learn {
    font-size: 1.2rem;
  }

  /* Services @1024px */
  .graphic-design,
  .photography {
    width: 90%;
  }
}

/* Mobile @768px */
@media screen and (max-width: 768px) {
  /* Header @768px */
  header > h1 {
    font-size: 3.4rem;
  }

  nav > .hamburger {
    display: block;
  }

  nav > ul {
    display: none;
  }

  .arrow-down img {
    width: 5rem;
  }

  /* Grid @768px */
  section.grid {
    grid-template-columns: 1fr;
    grid-auto-rows: 40rem;
  }

  .transform {
    grid-row: 2;
  }

  .transform,
  .stand-out {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
  }

  /* Services @768px */

  /* Testimonials @768px */
  .testimonials .testimonials-container {
    grid-template-rows: 1fr;
    width: 90%;
  }
  .testimonials .testimonials-title {
    font-size: 1.8rem;
    margin: 5rem auto;
  }
  .testimonials .client-container {
    grid-template-columns: 1fr;
  }
  .testimonials .client {
    margin-bottom: 5rem;
  }
  .testimonials .client > img {
    width: 10rem;
  }
}
