:root {
  /* Layout */
  --mobile-screen: 375px;
  --desktop-screen: 1440px;

  /* Fonts */
  --barlow-font: "Barlow", sans-serif;
  --fraunces-font: "Fraunces", serif;
  --font-size: 1.8rem;
  --semi-weight: 600;
  --bold-weight: 700;
  --black-weight: 900;

  /* Colors */
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  /* graphic design text */
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  /* photography text */
  --dark-blue: hsl(198, 62%, 26%);
  /* footer */
  --dark-moderate-cyan: hsl(168, 34%, 41%);
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 10px;
}

html {
  /* scroll-behavior: smooth; */
}

ul {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

body {
  font-family: var(--barlow-font);
  font-size: var(--font-size);
  font-weight: var(--semi-weight);
  background-color: var(--white);
  color: var(--dark-grayish-blue);
}

header {
  background-color: skyblue;
  display: flex;
  align-items: center;
  height: 8.8rem;
  padding-inline: 3rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

.header-container > ul {
  display: flex;
  align-items: center;
  gap: 4rem;
  color: var(--white);
}

.header-container ul > a li {
  font-size: 1.4rem;
}

.header-container .contact {
  background-color: var(--white);
  border-radius: 4rem;
  color: var(--very-dark-desaturated-blue);
  font-family: var(--fraunces-font);
  font-size: 1.2rem;
  padding: 1.2rem 2.2rem;
  text-align: center;
  text-transform: uppercase;
}

/* Hero */
.hero {
  padding: 30rem 0rem;
  background-color: skyblue;
  background-image: url("./images/desktop/image-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 75%;
  position: relative;
}

.hero h1 {
  color: var(--white);
  font-size: 5rem;
  font-family: var(--fraunces-font);
  font-weight: var(--black-weight);
  letter-spacing: 0.7rem;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  text-align: center;
}

.arrow-down img {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  width: 3rem;
}

/* Grid */
section.grid {
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}

section.grid > img {
  width: 100%;
}

.transform,
.stand-out {
  /* background-color: cyan; */
  margin: auto;
  width: 60%;
}

.transform > h2,
.stand-out > h2 {
  color: var(--very-dark-desaturated-blue);
  font-size: 4rem;
  font-family: var(--fraunces-font);
  font-weight: var(--black-weight);
}

.transform > p,
.stand-out > p {
  font-size: 1.6rem;
  line-height: 2.6rem;
  margin: 2.4rem 0;
}

.grid .learn-container {
  display: inline-block;
  padding: 0 0.8rem;
  position: absolute;
}

.grid .learn {
  color: var(--very-dark-desaturated-blue);
  font-family: var(--fraunces-font);
  font-size: 1.6rem;
  text-transform: uppercase;
}

.grid .learn::before {
  content: "";
  border-radius: 1rem;
  height: 0.6rem;
  width: 100%;
  position: absolute;
  bottom: -1px;
  left: 0;
  z-index: -1;
}

.grid .transform .learn::before {
  background-color: yellow;
}
.grid .transform .learn:hover::before {
  background-color: var(--yellow);
}

.grid .stand-out .learn::before {
  background-color: pink;
}
.grid .stand-out .learn:hover::before {
  background-color: var(--soft-red);
}

.graphic-design {
  background-image: url("./images/desktop/image-graphic-design.jpg");
  background-size: cover;
  height: 100%;
}
.photography {
  background-image: url("./images/desktop/image-photography.jpg");
  background-size: cover;
  height: 100%;
}

.graphic-design,
.photography {
  position: relative;
  text-align: center;
}

.graphic-design h3,
.photography h3 {
  color: var(--very-dark-desaturated-blue);
  font-size: 3rem;
  font-family: var(--fraunces-font);
  text-transform: capitalize;
}

.graphic-design p,
.photography p {
  color: var(--very-dark-grayish-blue);
  font-size: 1.6rem;
  line-height: 2.8rem;
  margin-top: 3rem;
}

.graphic-design > div,
.photography > div {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
}
