:root {
  /* Layout */
  --mobile-screen: 375px;
  --desktop-screen: 1440px;

  /* Fonts */
  --black-weight: 900;
  --bold-weight: 700;
  --font-size: 1.8rem;
  --line-height: 2.8rem;
  --primary-font: "Barlow", sans-serif;
  --secondary-font: "Fraunces", serif;
  --semi-weight: 600;

  /* Colors */
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  /* graphic design text */
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  /* photography text */
  --dark-blue: hsl(198, 62%, 26%);
  /* footer */
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --dark-moderate-cyan: hsl(168, 34%, 41%);
  --footer-green: #90d4c5;
  --grayish-blue: hsl(210, 4%, 67%);
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --white: hsl(0, 0%, 100%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--very-dark-desaturated-blue);
}

ul {
  list-style: none;
}

body {
  background-color: var(--white);
  color: var(--dark-grayish-blue);
  font-family: var(--primary-font);
  font-size: var(--font-size);
  font-weight: var(--semi-weight);
  margin: auto;
  max-width: var(--desktop-screen);
}

header {
  background-color: skyblue;
  background-image: url("./images/desktop/image-header.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 54rem;
  position: relative;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.2rem;
  position: absolute;
  top: 5.7%;
  width: 100%;
}

.header__nav {
  position: relative;
}

.header__menu {
  background-color: var(--white);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3.2rem;
  height: 30.7rem;
  opacity: 0;
  padding: 5rem 0;
  position: absolute;
  top: 7rem;
  right: 0;
  transition: opacity 0.5s;
  width: 33rem;
  z-index: 10;
}

.header__menu--show {
  opacity: 1;
}

.header__menu::before {
  content: "";
  border-left: 25px solid transparent;
  border-bottom: 25px solid var(--white);
  height: 0;
  width: 0;
  position: absolute;
  bottom: 100%;
  right: 0;
}

.header__menu li {
  height: 100%;
}

.header__menu a {
  color: var(--dark-grayish-blue);
}

.header__contact a {
  background-color: var(--yellow);
  border-radius: 4rem;
  color: var(--very-dark-desaturated-blue);
  font-family: var(--secondary-font);
  font-size: 1.6rem;
  padding: 1.8rem 3rem;
  text-transform: uppercase;
}
.header__contact a:hover {
  background-color: skyblue;
  color: var(--white);
}

.header__title {
  color: var(--white);
  font-size: 3.8rem;
  font-family: var(--secondary-font);
  font-weight: var(--black-weight);
  letter-spacing: 0.95rem;

  position: absolute;
  top: 26.8%;
  left: 50%;
  transform: translateX(-50%);

  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.header__arrow-down {
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translateX(-50%);
}

.grid {
  display: grid;
  grid-template-rows: repeat(4, minmax(31rem, auto)) repeat(2, 60.25rem);
  justify-items: center;
  align-items: center;
}

.grid__image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.grid__transform-image {
  background-image: url("./images/desktop/image-transform.jpg");
  grid-row: 1;
}
.grid__stand-out-image {
  background-image: url("./images/desktop/image-stand-out.jpg");
}

.grid__transform,
.grid__stand-out {
  margin: 6.5rem 0;
  text-align: center;
  width: 85%;
}

.grid__title {
  color: var(--very-dark-desaturated-blue);
  font-family: var(--secondary-font);
  font-size: 3rem;
  font-weight: var(--black-weight);
}

.grid__description {
  font-size: var(--font-size);
  line-height: var(--line-height);
  margin: 3.5rem 0;
}

.grid__learn {
  display: inline-block;
  padding: 0 0.8rem;
  position: relative;
  letter-spacing: 0.1rem;
}

.grid__learn-text {
  color: var(--very-dark-desaturated-blue);
  font-family: var(--secondary-font);
  font-size: 1.5rem;
  font-weight: var(--black-weight);
  text-transform: uppercase;
}

.grid__learn-text::before {
  content: "";
  border-radius: 1rem;
  height: 0.8rem;
  width: 100%;
  position: absolute;
  bottom: -1px;
  left: 0;
  z-index: -10;
}

.text--yellow::before {
  background-color: yellow;
}
.text--red::before {
  background-color: pink;
}
.text--yellow:hover::before {
  background-color: var(--yellow);
}
.text--red:hover::before {
  background-color: var(--soft-red);
}

.grid__graphic-design-image {
  color: var(--dark-desaturated-cyan);
  background-image: url("./images/desktop/image-graphic-design.jpg");
}

.grid__photography-image {
  color: var(--dark-blue);
  background-image: url("./images/desktop/image-photography.jpg");
}

.grid__service {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  text-align: center;
}

.grid__service > div {
  display: flex;
  flex-direction: column;
  grid-row: 2;
  justify-content: space-evenly;
}

.grid__service-title {
  font-family: var(--secondary-font);
  font-size: 2.8rem;
  font-weight: var(--black-weight);
  text-transform: capitalize;
}

.grid__service-description {
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.testimonials {
  display: grid;
  align-items: center;
}

.testimonials__title {
  color: var(--grayish-blue);
  font-family: var(--secondary-font);
  font-size: 1.5rem;
  justify-self: center;
  letter-spacing: 0.5rem;
  padding-bottom: 3rem;
  padding-top: 6.2rem;
  text-transform: uppercase;
}

.testimonials__client {
  display: grid;
  grid-auto-rows: auto;
  align-content: center;
  justify-items: center;
  width: 100%;
  height: 37.15rem;
}

.testimonials__image {
  border-radius: 50%;
  width: 7rem;
}

.testimonials__text {
  color: var(--very-dark-grayish-blue);
  line-height: var(--line-height);
  padding: 5.4rem 2rem;
  text-align: center;
}

.testimonials__name {
  color: var(--very-dark-desaturated-blue);
  font-family: var(--secondary-font);
  margin-bottom: 1rem;
}

.testimonials__role {
  color: var(--grayish-blue);
  font-size: 1.4rem;
}

.footer {
  background-color: var(--footer-green);
  display: grid;
  grid-template-rows: 52% 48%;
  height: 72.7rem;
  margin-top: 3rem;
  text-align: center;
  width: 100%;
}

.footer__images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.footer__image-milk {
  background-image: url("./images/desktop/image-gallery-milkbottles.jpg");
}
.footer__image-orange {
  background-image: url("./images/desktop/image-gallery-orange.jpg");
}
.footer__image-cone {
  background-image: url("images/desktop/image-gallery-cone.jpg");
}
.footer__image-sugar {
  background-image: url("images/desktop/image-gallery-sugarcubes.jpg");
}

.footer__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.footer__logo {
  filter: brightness(0%) invert(24%) sepia(11%) saturate(1380%)
    hue-rotate(118deg) brightness(152%) contrast(97%);
  position: absolute;
  top: 18%;
  width: 17rem;
}

.footer__menu {
  display: flex;
  gap: 5.4rem;
  position: absolute;
  top: 39%;
}

.footer__menu a {
  color: var(--dark-moderate-cyan);
}
.footer__menu a:hover {
  color: var(--white);
}

.footer__social-media {
  bottom: 22%;
  display: flex;
  gap: 2.9rem;
  position: absolute;
}
.footer__social-media img:hover {
  filter: brightness(0) invert(98%) sepia(7%) saturate(7%) hue-rotate(232deg)
    brightness(115%) contrast(100%);
}

@media (min-width: 769px) {
  .header {
    height: 80rem;
  }
  .header__container {
    padding: 0 4rem;
    top: 5.5%;
  }
  .header__logo-image {
    width: 17rem;
  }
  .header__hamburger-icon {
    display: none;
  }
  .header__menu {
    background-color: transparent;
    color: var(--white);
    display: flex;
    flex-direction: row;
    gap: 5.1rem;
    opacity: 1;
    position: unset;
    width: 100%;
    padding: 0;
    height: 100%;
  }
  .header__menu::before {
    display: none;
  }
  .header__menu a:not([href="#contact"]) {
    color: var(--white);
  }
  .header__menu a:not([href="#contact"]):hover {
    color: var(--very-dark-desaturated-blue);
  }
  .header__contact a {
    background-color: var(--white);
  }
  .header__title {
    font-size: 5.5rem;
    top: 24.5%;
    letter-spacing: 1rem;
  }
  .header__arrow-down {
    top: 45%;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: none;
    grid-auto-rows: 60rem;
  }
  .grid__transform,
  .grid__stand-out {
    text-align: left;
    width: 64%;
  }
  .grid__transform-image {
    grid-column: 2;
  }
  .grid__title {
    font-size: 4rem;
  }
  .grid__service > div {
    justify-self: center;
    width: 50%;
  }
  .grid__service-title {
    font-size: 2.8rem;
  }

  .testimonials {
    align-content: center;
    grid-template-columns: repeat(11, 1fr);
    height: 78rem;
    row-gap: 6rem;
    column-gap: 5rem;
  }
  .testimonials__title {
    font-size: 2rem;
    grid-column: 1 / -1;
    padding: 0;
    word-spacing: 0.9rem;
  }
  .testimonials__client {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .testimonials__client:nth-of-type(1) {
    grid-column: 2 / span 3;
  }
  .testimonials__client:nth-of-type(2) {
    grid-column: 5 / span 3;
  }
  .testimonials__client:nth-of-type(3) {
    grid-column: 8 / span 3;
  }
  .testimonials__text {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 0;
  }

  .footer {
    grid-template-rows: 5fr 4fr;
    height: 79.5rem;
    margin: 0;
  }
  .footer__images {
    grid-template-columns: repeat(4, 1fr);
  }
  .footer__logo {
    top: 21%;
    width: 17.2rem;
  }
  .footer__menu {
    top: 41%;
  }
  .footer__social-media {
    bottom: 20%;
  }
}
